[submodule "Libraries/TestingUtilities"]
	path = Libraries/TestingUtilities
	url = https://github.com/Ardot66/TestingUtilities.git
	branch = export
[submodule "Libraries/Collections"]
	path = Libraries/Collections
	url = https://github.com/Ardot66/Collections.git
	branch = export
[submodule "Libraries/ComponentObjects"]
	path = Libraries/ComponentObjects
	url = https://github.com/Ardot66/ComponentObjects.git
	branch = export
